body {
    background-color: cornflowerblue;
    color: whitesmoke ;
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: wheat;
    color: black;
}